<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			
			<li class="nav-header"><i class="icon-wrench"></i> 大家一起来投票</li>
			
			<li class="nav-header"><i class="icon-signal"></i> 账号设置</li>
			<li {% if select == 0 %} class="active" {% end %}><a href="vote_accounts">大号列表</a></li>
			<li {% if select == 1 %} class="active" {% end %}><a href="sub_accounts">小号列表</a></li>
			
			<li class="nav-header"><i class="icon-filter"></i> 其他属性</li>
			<li {% if select == 2 %} class="active" {% end %}><a href="classes">班级列表</a></li>
			<li {% if select == 3 %} class="active" {% end %}><a href="people">投票用户</a></li>
			
			<li class="nav-header"><i class="icon-user"></i> 账户操作</li>
			<li><a href="logout">退出</a></li>
		</ul>
	</div>
</div>