<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <title>微信投票 管理后台</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet" /> 
  <link href="{{ static_url("css/site.css") }}" rel="stylesheet" /> 
  <link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet" /> 
 </head> 
 <body> 
  <div class="navbar navbar-fixed-top"> 
   <div class="navbar-inner"> 
    <div class="container-fluid"> 
     <a class="brand" href="#">微信投票 管理后台</a> 
    </div> 
   </div> 
  </div> 
  <div class="container-fluid"> 
   <div class="row-fluid"> 
    
    {% module SideBar(select=1) %}
    
    <div class="span9"> 
     <div class="row-fluid"> 
      <div class="page-header"> 
       <h1>小号列表 <small>每个学校对应的公众号，用户在该公众号下获取投票码</small></h1> 
      </div> 
      <table class="table table-striped table-bordered table-condensed"> 
       <thead> 
        <tr> 
         <th>微信公众号</th> 
         <th>总票数</th> 
         <th>app_id</th> 
         <th>app_secret</th> 
         <th>token</th> 
         <th>学校名称</th> 
         <th>介绍页面 URL</th> 
         <th>介绍页面背景图 URL</th> 
         <th>绑定投票账号</th> 
         <th>状态</th>
         <th></th> 
        </tr> 
       </thead> 
       <tbody> 
         
{% for row in rows %}
<tr class="list-users">
  <td><strong>{{ row.name }}</strong> ({{ row.display_id }})</td>
  <td>{{ row.voting_count }}</td>
  <td>{{ row.app_id }}</td>
  <td>{{ row.app_secret }}</td>
  <td>{{ row.token }}</td>
  <td>{{ row.school_name }}</td>
  <td><a href="{{ row.intro_url }}" target="_blank" class="btn btn-mini">查看</a></td>
  <td><a href="{{ row.intro_img_url }}" target="_blank" class="btn btn-mini">查看</a></td>
  <td><span class="label label-info">{{ row.vote_account_name }}</span></td>
  <td>{% if row.active == 1 %}<span class="label label-success">接受投票中</span>{% else %}<span class="label label-inverse">投票关闭</span>{% end %}</td>
  <td WIDTH=100>
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">操作 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/sub_accounts/edit?id={{ row.id }}"><i class="icon-pencil"></i> 编辑</a></li>
        <li><a href="/sub_accounts/delete?id={{ row.id }}"><i class="icon-trash"></i> 删除</a></li>
        <li><a href="/sub_accounts/backend_url?id={{ row.id }}"><i class="icon-tag"></i> 配置地址</a></li>
      </ul>
    </div>
  </td>
</tr>
{% end %}
        
       </tbody> 
      </table> 
      <div class="pagination"> 
       <ul> 
        <li><a href="sub_accounts?p={{ p-1 if not p==1 else p }}">Prev</a></li> 
        
            {% for num in pages %}
            <li {% if num == p %}class="active"{% end %}> <a href="sub_accounts?p={{ num }}">{{ num }}</a> </li>
            {% end %}
              
        <li><a href="sub_accounts?p={{ p+1 if not p==len(pages) else p }}">Next</a></li> 
       </ul> 
      </div> 
      <a href="sub_accounts/add" class="btn btn-success">添加公众号</a> 
     </div> 
    </div> 
   </div> 
   <hr /> 
   {% module Footer() %}
  </div> 
  <script src="{{ static_url("js/jquery.js") }}"></script> 
  <script src="{{ static_url("js/bootstrap.min.js") }}"></script>   
 </body>
</html>