<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, minal-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <title>{{ school_name }}排行榜</title>
  <link rel="stylesheet" href="/static/assets/ranking.css">
</head>
<body>
  <div class="school-info">
    <img src="{{ avatar_url }}" alt="avatar" class="avatar">
    <div>
      <div class="name">{{ school_name }}</div>
      <div class="class-count">班级数：<span>{{ class_count }}</span></div>
      <div class="votes">投票数：<span>{{ vote_total_count }}</span></div>
    </div>
  </div>
  <ul class="nav-tab">
    <li data-target="ranking1">班级排行榜</li>
    <li data-target="ranking2">个人排行榜</li>
  </ul>
  <div class="tab-content">
    <div class="wrapper">
      <div class="ranking1">
        <ol>
          {% for _class in class_rank_rows %}
          <li>{{ _class.class_name }} <span>{{ _class.voting_count }}票</span></li>
          {% end %}
        </ol>
      </div>
      <div class="ranking2">
        <ol>
          {% for person in person_rank_rows %}
          <li>
            <div class="name">{{ person.nickname }}<span class>({{ person.class_name }})</span></div>
            <div class="invitation-code">邀请码：I{{ person.id }}</div>
            <div class="votes">邀请票数：<span>{{ person.inviting_count }}</span></div>
          </li>
          {% end %}
        </ol>
      </div>
    </div>
  </div>
  <script src="/static/assets/zepto.min.js"></script>
  <script src="/static/assets/ranking.js"></script>
</body>
</html>
